<body onload="detDate()">
<footer>
  <div id="flogo">
      <img src="./assets/Images/logo1.png"  alt="Unavailable" id="fflogo">
  </div>
  <div>

      <p class="dday"><i class="fa-solid fa-calendar"></i> <span id="day">DAY</span> / <span id="month">MONTH</span></p>
  </div>
  <div>
      <p>Project E-Commerce 2022 CopyRight &trade;</p>
  </div>
  <div class="listf">
      <ul>
          <li><a href="#" class="top">Top Page <i class="fa-solid fa-arrow-up"></i></a></li>
          <li><a href="products.html" class="top">Products</a></li>
          <li><a href="Services.html" class="top">Services</a></li>
          <li><a href="aboutUs.html"class="top">About Us</a></li>
      </ul>
  </div>
</footer>
</body>
